@keyframes smoothbounceball{ 
    from { transform: translate3d(0, 0, 0);} 
    to { transform: translate3d(0, 200px, 0);} 
} 

.footer{
    height: 200px;
    bottom: 0;
    width:100%;
    left:0;
    text-align: center;
    margin: 200px 0px 0px 0px;

}

body {
    text-align: center;
    background: url("https://i.imgur.com/XM8zeaL.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Titan One', cursive;
    height: 100vh;
  }

  .answers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 962px;
    height: 207px;
    margin-right: auto;
    margin-left: auto;
    clear: both;
  }

  
  .answers div {
      font-family: 'Titan One', cursive;
      height: 150px;
      width: 150px;
      color: black;
      font-size: 50px;
      text-align: center;
      vertical-align: middle;
      line-height: 200px;
      cursor: crosshair;
      
  }

  .problem p {
    font-family: 'Titan One', cursive;
    display: flex;
    margin: 0 0 10px;
    font-size: 50px;
    margin: 0px 0px 0px 100px;
    /* background-color: cornflowerblue; */
  }
 
.start {
    font-family: 'Titan One';
    font-size: 60px;
}
.obi {
    background-position: bottom;
    width: 150px;
    position: absolute;
    left: 39%;
    bottom: 0;
    height: 150px;
}
.snowmen {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("https://i.imgur.com/7ICkeY2.png"); 
    cursor: url("https://i.imgur.com/PFfe6oi.png") , auto;
}

.heart {
    float: right;
    height: 7%;
    Width: 7%;
}

/* @keyframes bounce {
    0% {
        transform: height(10px);
    }
    100% {
        transform: height(20px);
    }
} */

/* animation: bounce 0.5s; 
    animation-direction: alternate; 
    animation-iteration-count: infinite; */

.win 
 {
     
 }
 .lose {

 }
  /* .divClass {
    
        width: 20%;
        height: 400px;
 
  } */